.contactcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 60px auto;

  width: 80%;
}

.contactcontainer .card {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  margin-top: 0;
}

#map-container-google-2 {
}

@media screen and (max-width: 767px) {
  .contactcontainer {
    margin: 10rem auto;
    width: 100%;
  }
  .contactcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
    width: 90%;
  }

  .contactcontainer .card {
    margin: 2rem auto;
  }
  #map-container-google-2 {
    width: 100%;
  }
}
