.home-container {
  display: block;
  margin: 120px auto;
  width: 100%;
}

.header-img {
  height: 440px;
  width: 100%;
  box-shadow: 0 4px 3px 0 #a4bd72;
  margin-top: 80px;
}

.home-container .card {
  width: 60%;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
}

.home-container .card-title {
  color: red;
  font-weight: bold;
}

.home-container .card-text {
  text-align: justify;
}

.home-container .card img {
  height: 500px;
}

@media screen and (max-width: 1244px) {
  .home-container .card {
    width: 80%;
  }
  .home-container .card img {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .header-img {
    display: none;
  }
  .home-container .card {
    width: 90%;
  }
  .home-container .card img {
    height: 380px;
  }
}

@media screen and (max-width: 440px) {
  .home-container {
    margin: 0 auto;
  }
  .home-container .card {
    width: 100%;
  }
  .home-container .card img {
    height: 260px;
  }
}
