.services-container {
  width: 60%;
  margin: 120px auto;
}
.services-container .card {
  margin: 20px auto;
}
.services-container h2 {
  font-weight: bold;
  font-style: italic;
}
.services-container .card img {
  height: 500px;
}

.services-container .card-title {
  color: red;
  font-weight: bold;
}

@media screen and (max-width: 1244px) {
  .services-container {
    width: 60%;
  }
  .services-container .card img {
    height: 320px;
  }
}

@media screen and (max-width: 767px) {
  .services-container {
    width: 90%;
  }
  .services-container .card img {
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .services-container {
    width: 100%;
  }
  .services-container .card img {
    height: 200px;
  }
}
