.navbar-container {
  background-color: white;
  border-bottom: 1px solid #ccc;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 100;
  /* position: relative; */
}

nav img {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
nav.navbar.navbar-expand-md.navbar-light {
  padding: 0;
}
.navbar-container li {
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.navbar-container li a {
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.navbar-container li a:hover {
  font-weight: bolder;
}

@media screen and (max-width: 767px) {
  .ml-auto {
    background-color: #f5f5f5;
    width: 100%;
    opacity: 0.8;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  div.collapse.show.navbar-collapse {
    /* position: relative;
    top: -1rem; */
  }
  button.mr-auto.navbar-toggler {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    margin: 0;
  }
}
