.header-img {
  height: 440px;
  width: 100%;
  box-shadow: 0 4px 3px 0 #a4bd72;
  margin-top: 80px;
}

.home-container {
  margin: 120px auto;
  width: 60%;
}

.home-container .card-title {
  color: red;
  font-weight: bold;
}

.home-container .card-text {
  text-align: justify;
}

.home-container .card img {
  height: 500px;
}

@media screen and (max-width: 1244px) {
  .home-container {
    width: 80%;
  }
  .home-container .card img {
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .header-img {
    display: none;
  }
  .home-container {
    width: 90%;
  }
  .home-container .card img {
    height: 380px;
  }
}

@media screen and (max-width: 420px) {
  .home-container {
    width: 100%;
  }
  .home-container .card img {
    height: 260px;
  }
}
