.header-img {
  height: 440px;
  width: 100%;
  box-shadow: 0 4px 3px 0 #a4bd72;
  margin-top: 80px;
}

.home-container {
  margin: 120px auto;
  text-align: center;
  width: 50%;
}

.home-container article {
  text-align: justify;
}
.card img {
  height: 400px;
}
@media screen and (max-width: 420px) {
  .services-container {
    width: 90%;
  }
  .card img {
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .header-img {
    display: none;
  }
  .home-container {
    width: 80%;
  }
  .card img {
    height: 400px;
  }
}
